html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
  }
  
  p, a {
    line-height: 1.5em;
  }
  
  #loading {
    display: none;
  }
  
  #settings {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  h1, a {
    color: #09af83;
  }
  
  label {
    font-weight: 50px;
  }
  
  a {
    text-decoration: none;
  }
  
  main {
    width: 40em;
    margin: auto;
    text-align: center;
  }

  .main-content {
    display: flex;
    flex-wrap: wrap;
  }

  .camera-display, .camera-locations {
    padding: 15px;
    box-sizing: border-box;
  }

  .camera-display {
    flex: 0 0 65%;
    max-width: 65%;
    order: 2;
  }

  .camera-locations {
    flex: 0 0 35%;
    max-width: 35%;
    order: 1;
  }

  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }